a{
    text-decoration: none;
    padding:10px;
}
.menu > li{
    list-style-type: none;
    padding:3px;
}
.menu {
    width: 230px;
    height: 300px;
    border: 1px solid #cfcfcf;
    padding-top: 10px;
    padding: 0;
}
.menu > li > ul {
    list-style-type: none;
    display: none;
}
.menu > li:hover > ul {
    display: block;

}
.menu-content {
    position: absolute;
    left: 231px;
    width: 230px;
    height: 300px;
    border: 1px solid #cfcfcf;
    padding-top: 10px;
    padding: 0;
    top: 0px;
}
.menu-content > li {
    padding: 3px;
}
.menu  a:hover{
    color: #b85708
}
.menu li:hover{
    background-color: #cfcfcf
}
.menu-content > li > ul {
    list-style-type: none;
    display: none;
}
.menu-content > li:hover > ul {
    display: block;

}
.phone {
    position: absolute;
    left: 231px;
    padding: 0px;
    bottom: -1px;
    width: 230px;
    height: 300px;
    border: 1px solid #cfcfcf;
    padding-top: 10px;
    padding: 0;
}
li.menu-item_1 {
    position: relative;
}