@import url('https://fonts.googleapis.com/css?family=Satisfy');

#menu > li:hover > ul {
    display: block;
}
*{
    box-sizing: border-box;
}
#menu{
    font-size:25px; 
}
    
h1{
    font-family: 'Satisfy', cursive;

    margin-left: 319px;
    color: yellow;
   
    
}
body{
    background-image: url(../01-04-menudacap/image/anhnen.png)
}

#menu > li {
    
    list-style-position: inside ;
    padding-left: 40px;
}

#menu > li > ul {
    list-style-type: none;
    display: none;
}



h2{
    text-align: center;
    color: skyblue;
}
.banchay{
    margin-left:180px; 
   

}
.banggia{
    padding-left:100px;

}
