h1 {
    text-align: center;
}
*{
    box-sizing: border-box;
}
.image {
    width: 1400px;
    margin: auto;
    padding: 50px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
img {
    width: 45%;
    height: 100%;
}