@import url('https://fonts.googleapis.com/css?family=Satisfy');
.anh1{
    
    padding-left: 98px;
} 

*{
    box-sizing: border-box;
   
}
.page {
    background-color: yellowgreen;
    width: 700px;
    height: 500px;
    margin: 100px;
    padding-top: 23px;
    border: #f00 solid 5px;
        
    }
   
.anh2 {
    margin-top: 48px;
    float: left;
}
.anh3 {
    
    padding-left: 510px;
    
    margin-top: 48px;
}

.chu {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    margin-top: -233px;
    margin-left: 190px;
    position: relative;
}
.chu2 {
    padding-left: 112px;
    margin-top: -40px;
}   
@keyframes title {
    0%  {color: #F9E559;}
    25%  { color: #FFFFFF;}
    50%  {color: #F8DEBD;}
    75%  {color: #FFFFFF;}
    100% { color: #F9E559;}
}

.anhgai img{
    border-radius: 50%;   
    position: absolute;
    top: 136px;
    animation: a 5s ease infinite;
}

p {
	animation: title 5s ease infinite;
}
@keyframes a {
    0%  {transform: translateX(0px)}
    20%  { transform: translateX(50px)}
    40%  {transform: translateX(100px)}
    60%  {transform: translateX(150px)}
    80% { transform: translateX(200px)}
    100% { transform: translateX(250px)}
}